
<!DOCTYPE html>
<html>
<head>
<title>Calculator</title>
 <script src="angular.min.js"></script>
 <script>
var myApp = angular.module('myApp',[]);

function MyCtrl($scope) {
 $scope.output = "0";
 $scope.inOperation = false;
 $scope.num1 = 0;
 
 $scope.updateOutput = function(btn) {
 if($scope.output == "0") {
 $scope.output = btn;
 } else {
 $scope.output += String(btn);
 }
 };

 $scope.operate = function(op) {
 if($scope.output && !$scope.inOperation){
 $scope.num1 = $scope.output;
 $scope.output += op;
 $scope.inOperation = true;
 }else if($scope.output.length > $scope.num1.length+1){
 $scope.output = eval($scope.output);
 $scope.output += op;
 } 
 };

 $scope.equal = function() {
 if($scope.output.length > $scope.num1.length+1){
 $scope.output = eval($scope.output);
 $scope.num1 = $scope.output;
 }else{
 $scope.output = $scope.num1;
 }
 };
 
}
myApp.controller('MyCtrl', MyCtrl);




 </script>
 </head>
<body ng-app="myApp">
 <form class="calc" ng-controller="MyCtrl">
 <p class="calc-display">
 <input type="text" name="output" id="res" value="{{output}}" class="calc-display-input">
 </p>
 <p class="operators">
 <button type="button" class="calc-button calc-button-red calc-button-big" ng-click='operate("/")' >÷</button>
 <button type="button" class="calc-button calc-button-red calc-button-big" ng-click='operate("*")' >x</button>
 <button type="button" class="calc-button calc-button-red calc-button-big" ng-click='operate("-")' >-</button>
 <button type="button" class="calc-button calc-button-red calc-button-big" ng-click='operate("+")' >+</button>
 </p>
 <p class="calc-row">
 <button type="button" class="calc-button" ng-click="updateOutput($index)" ng-repeat="n in [0,1,2,3,4,5,6,7,8,9]">{{n}}</button>
 <button type="button" class="calc-button" ng-click="updateOutput('.')">.</button>
 <button type="button" class="calc-button" ng-click='output = 0'>C</button>
 
 </p>
 <p class="calc-row"><button type="button" class="calc-button calc-button-yellow calc-button-big" ng-click="equal()">=</button></p>
 </form>
</body>
</html>